<a href="https://colab.research.google.com/github/Naushad13b/Lazy/blob/main/001)allcitiesLP_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install lazypredict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lazypredict in /usr/local/lib/python3.7/dist-packages (0.2.9)
Requirement already satisfied: pandas==1.0.5 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.0.5)
Requirement already satisfied: pytest==5.4.3 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (5.4.3)
Requirement already satisfied: joblib==1.0.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.0.0)
Requirement already satisfied: click==7.1.2 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (7.1.2)
Requirement already satisfied: xgboost==1.1.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.1.1)
Requirement already satisfied: scikit-learn==0.23.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (0.23.1)
Requirement already satisfied: six==1.15.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.15.0)
Requirement already satisfied: scipy==1.5.4 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.5.4)
Requirement already satisfied: PyYAML==5.3.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (5.3.1)
Requirement already satisfied: numpy==1.19.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.19.1)
Requirement already satisfied: lightgbm==2.3.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (2.3.1)
Requirement already satisfied: tqdm==4.56.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (4.56.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5->lazypredict) (2022.2.1)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (0.13.1)
Requirement already satisfied: importlib-metadata>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (4.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (22.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (0.2.5)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (8.14.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (21.3)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (1.11.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1->lazypredict) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest==5.4.3->lazypredict) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest==5.4.3->lazypredict) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pytest==5.4.3->lazypredict) (3.0.9)

In [3]:
import pandas as pd

In [4]:
#Reading the data
df = pd.read_csv(r'/content/AllCities_PM2_5.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City_1   365 non-null    float64
 1   City_2   365 non-null    float64
 2   City_3   365 non-null    float64
 3   City_5   365 non-null    float64
 4   City_6   365 non-null    float64
 5   City_7   365 non-null    float64
 6   City_8   365 non-null    float64
 7   City_9   365 non-null    float64
 8   City_10  365 non-null    float64
 9   City_11  365 non-null    float64
 10  City_12  365 non-null    float64
 11  City_13  365 non-null    float64
 12  City_14  365 non-null    float64
 13  City_15  365 non-null    float64
 14  City_16  365 non-null    float64
 15  City_17  365 non-null    float64
 16  City_18  365 non-null    float64
 17  City_20  365 non-null    float64
 18  City_21  365 non-null    float64
 19  City_22  365 non-null    float64
 20  City_24  365 non-null    float64
 21  City_25  365 non-null    float64
 22  City_26  365 non-null    float64
 23  City_27  365 non-null    float64
 24  City_29  365 non-null    float64
 25  City_30  365 non-null    float64
 26  City_31  365 non-null    float64
 27  City_32  365 non-null    float64
 28  City_33  365 non-null    float64
 29  City_34  365 non-null    float64
 30  City_35  365 non-null    float64
dtypes: float64(31)
memory usage: 88.5 KB

In [6]:
df

,City_1,City_2,City_3,City_5,City_6,City_7,City_8,City_9,City_10,City_11,...,City_25,City_26,City_27,City_29,City_30,City_31,City_32,City_33,City_34,City_35
0,228.5,465.1,177.5,238.6,250.3,231.5,112.4,323.6,273.5,72.6,...,74.5,239.9,215.1,94.16,116.45,103.19,84.92,232.97,118.90,75.96
1,222.4,332.1,177.0,112.5,306.3,205.6,67.4,112.0,323.2,72.6,...,74.5,173.6,162.8,59.80,161.56,136.87,114.69,246.41,109.10,105.20
2,128.1,155.2,114.8,133.3,119.3,168.2,67.6,94.0,170.2,72.6,...,74.5,100.7,84.9,72.35,91.90,100.88,129.86,164.19,97.96,73.10
3,68.4,99.2,85.5,294.0,41.9,62.0,189.3,157.6,64.8,72.6,...,74.5,74.1,51.5,52.45,35.90,57.87,109.09,191.94,125.17,57.33
4,62.5,71.9,94.9,182.7,36.6,36.4,108.7,149.3,14.7,72.6,...,74.5,40.7,56.6,27.64,19.38,27.44,87.31,158.86,126.45,16.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,92.1,107.6,33.6,140.8,64.5,130.8,198.1,229.7,68.9,98.1,...,73.2,108.2,83.2,68.04,39.39,63.32,52.09,162.54,106.15,100.65
361,124.3,129.1,46.0,114.0,108.8,128.2,159.9,215.7,86.6,127.9,...,105.9,137.2,170.1,41.95,50.95,86.14,61.79,148.48,64.98,120.20
362,105.2,126.2,144.2,294.8,91.1,113.9,317.6,167.2,91.7,132.3,...,99.8,136.1,124.9,57.64,28.38,86.41,72.52,103.18,69.30,90.27
363,161.2,155.3,283.9,256.9,134.2,158.5,318.0,119.6,86.1,235.6,...,140.2,147.4,161.1,90.39,37.71,82.62,74.83,103.30,82.91,112.49
364,156.4,156.1,233.0,125.7,131.3,128.1,169.0,86.3,84.5,177.7,...,106.3,161.0,190.3,56.13,37.99,101.75,73.32,64.95,86.25,142.18

In [7]:
df = pd.DataFrame(df)

In [8]:
df

,City_1,City_2,City_3,City_5,City_6,City_7,City_8,City_9,City_10,City_11,...,City_25,City_26,City_27,City_29,City_30,City_31,City_32,City_33,City_34,City_35
0,228.5,465.1,177.5,238.6,250.3,231.5,112.4,323.6,273.5,72.6,...,74.5,239.9,215.1,94.16,116.45,103.19,84.92,232.97,118.90,75.96
1,222.4,332.1,177.0,112.5,306.3,205.6,67.4,112.0,323.2,72.6,...,74.5,173.6,162.8,59.80,161.56,136.87,114.69,246.41,109.10,105.20
2,128.1,155.2,114.8,133.3,119.3,168.2,67.6,94.0,170.2,72.6,...,74.5,100.7,84.9,72.35,91.90,100.88,129.86,164.19,97.96,73.10
3,68.4,99.2,85.5,294.0,41.9,62.0,189.3,157.6,64.8,72.6,...,74.5,74.1,51.5,52.45,35.90,57.87,109.09,191.94,125.17,57.33
4,62.5,71.9,94.9,182.7,36.6,36.4,108.7,149.3,14.7,72.6,...,74.5,40.7,56.6,27.64,19.38,27.44,87.31,158.86,126.45,16.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,92.1,107.6,33.6,140.8,64.5,130.8,198.1,229.7,68.9,98.1,...,73.2,108.2,83.2,68.04,39.39,63.32,52.09,162.54,106.15,100.65
361,124.3,129.1,46.0,114.0,108.8,128.2,159.9,215.7,86.6,127.9,...,105.9,137.2,170.1,41.95,50.95,86.14,61.79,148.48,64.98,120.20
362,105.2,126.2,144.2,294.8,91.1,113.9,317.6,167.2,91.7,132.3,...,99.8,136.1,124.9,57.64,28.38,86.41,72.52,103.18,69.30,90.27
363,161.2,155.3,283.9,256.9,134.2,158.5,318.0,119.6,86.1,235.6,...,140.2,147.4,161.1,90.39,37.71,82.62,74.83,103.30,82.91,112.49
364,156.4,156.1,233.0,125.7,131.3,128.1,169.0,86.3,84.5,177.7,...,106.3,161.0,190.3,56.13,37.99,101.75,73.32,64.95,86.25,142.18

In [9]:
df.columns

Index(['City_1', 'City_2', 'City_3', 'City_5', 'City_6', 'City_7', 'City_8',
       'City_9', 'City_10', 'City_11', 'City_12', 'City_13', 'City_14',
       'City_15', 'City_16', 'City_17', 'City_18', 'City_20', 'City_21',
       'City_22', 'City_24', 'City_25', 'City_26', 'City_27', 'City_29',
       'City_30', 'City_31', 'City_32', 'City_33', 'City_34', 'City_35'],
      dtype='object')

In [140]:
X=df[['City_1', 'City_2', 'City_3', 'City_5', 'City_6', 'City_7',
       'City_8', 'City_9', 'City_10', 'City_11', 'City_12', 'City_13',
       'City_14', 'City_15', 'City_16', 'City_17', 'City_18', 'City_20',
       'City_21', 'City_22', 'City_24', 'City_25', 'City_26', 'City_27',
       'City_29', 'City_30', 'City_31', 'City_32', 'City_33', 'City_34']]

In [141]:
y=df[['City_35']]  #prediction pm2.5

In [142]:
X

,City_1,City_2,City_3,City_5,City_6,City_7,City_8,City_9,City_10,City_11,...,City_24,City_25,City_26,City_27,City_29,City_30,City_31,City_32,City_33,City_34
0,228.50,465.10,177.50,238.60,250.30,231.50,112.40,323.60,273.50,72.60,...,154.20,74.50,239.90,215.10,94.16,116.45,103.19,84.92,232.97,118.90
1,222.40,332.10,177.00,112.50,306.30,205.60,67.40,112.00,323.20,72.60,...,137.90,74.50,173.60,162.80,59.80,161.56,136.87,114.69,246.41,109.10
2,128.10,155.20,114.80,133.30,119.30,168.20,67.60,94.00,170.20,72.60,...,68.10,74.50,100.70,84.90,72.35,91.90,100.88,129.86,164.19,97.96
3,68.40,99.20,85.50,294.00,41.90,62.00,189.30,157.60,64.80,72.60,...,12.70,74.50,74.10,51.50,52.45,35.90,57.87,109.09,191.94,125.17
4,62.50,71.90,94.90,182.70,36.60,36.40,108.70,149.30,14.70,72.60,...,44.10,74.50,40.70,56.60,27.64,19.38,27.44,87.31,158.86,126.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,92.10,107.60,33.60,140.80,64.50,130.80,198.10,229.70,68.90,98.10,...,111.90,73.20,108.20,83.20,68.04,39.39,63.32,52.09,162.54,106.15
361,124.30,129.10,46.00,114.00,108.80,128.20,159.90,215.70,86.60,127.90,...,103.30,105.90,137.20,170.10,41.95,50.95,86.14,61.79,148.48,64.98
362,105.20,126.20,144.20,294.80,91.10,113.90,317.60,167.20,91.70,132.30,...,104.70,99.80,136.10,124.90,57.64,28.38,86.41,72.52,103.18,69.30
363,161.20,155.30,283.90,256.90,134.20,158.50,318.00,119.60,86.10,235.60,...,124.20,140.20,147.40,161.10,90.39,37.71,82.62,74.83,103.30,82.91
364,156.40,156.10,233.00,125.70,131.30,128.10,169.00,86.30,84.50,177.70,...,108.20,106.30,161.00,190.30,56.13,37.99,101.75,73.32,64.95,86.25

In [143]:
### spliting dataset into training and testing part
from sklearn.model_selection import train_test_split

In [144]:
### splitting dataset into training and testing part(50% training and 50% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state =12)

In [145]:
### Importing LazyRegressor
from lazypredict.Supervised import LazyRegressor
### Importing dataset available in sklearn
from sklearn import datasets
from sklearn.utils import shuffle
import numpy as np

In [146]:
### fitting data in LazyRegressor because here we are solving Regression use case. 
reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)

In [147]:
### fitting data in LazyClassifier
models, predictions = reg.fit(X_train, X_test, y_train, y_test)
### lets check which model did better on Air Pollution Dataset
print(models)

100%|██████████| 42/42 [00:02<00:00, 14.86it/s]

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
OrthogonalMatchingPursuit                    0.70       0.83 18.39        0.02
ExtraTreesRegressor                          0.70       0.82 18.62        0.21
BaggingRegressor                             0.68       0.81 19.05        0.05
RandomForestRegressor                        0.68       0.81 19.25        0.35
SGDRegressor                                 0.66       0.80 19.82        0.02
LGBMRegressor                                0.65       0.80 19.99        0.06
BayesianRidge                                0.65       0.79 20.11        0.01
DecisionTreeRegressor                        0.65       0.79 20.12        0.02
RidgeCV                                      0.65       0.79 20.12        0.01
ElasticNetCV                                 0.64       0.79 20.17        0.09
GradientBoostingRegressor                    0.64       0.79 20.20        0.23
HistGradientBoostingRegressor                0.64       0.79 20.35        0.18
Ridge                                        0.63       0.78 20.64        0.01
XGBRegressor                                 0.62       0.78 20.74        0.14
Lars                                         0.62       0.78 20.78        0.02
LinearRegression                             0.62       0.78 20.78        0.04
TransformedTargetRegressor                   0.62       0.78 20.78        0.02
LassoCV                                      0.62       0.78 20.78        0.10
LassoLarsCV                                  0.62       0.78 20.80        0.05
LarsCV                                       0.62       0.78 20.84        0.07
HuberRegressor                               0.61       0.77 21.20        0.03
ElasticNet                                   0.58       0.76 21.87        0.02
LinearSVR                                    0.58       0.75 21.96        0.04
Lasso                                        0.56       0.75 22.31        0.02
AdaBoostRegressor                            0.56       0.74 22.52        0.12
KNeighborsRegressor                          0.55       0.74 22.56        0.02
GeneralizedLinearRegressor                   0.55       0.74 22.59        0.02
TweedieRegressor                             0.55       0.74 22.59        0.02
OrthogonalMatchingPursuitCV                  0.55       0.74 22.64        0.02
GammaRegressor                               0.53       0.73 23.21        0.01
LassoLarsIC                                  0.53       0.72 23.30        0.03
ExtraTreeRegressor                           0.48       0.70 24.33        0.01
PassiveAggressiveRegressor                   0.46       0.69 24.75        0.01
PoissonRegressor                             0.42       0.66 25.83        0.03
RANSACRegressor                              0.34       0.62 27.46        0.07
MLPRegressor                                 0.20       0.53 30.20        0.49
LassoLars                                   -0.07       0.37 35.00        0.02
SVR                                         -0.37       0.20 39.63        0.02
NuSVR                                       -0.42       0.17 40.30        0.02
DummyRegressor                              -0.84      -0.07 45.87        0.01
KernelRidge                                 -2.79      -1.21 65.84        0.02
GaussianProcessRegressor                    -4.65      -2.30 80.37        0.02